/BarreDeVie.class
/DamagePotion.class
/Empty.class
/Equipment.class
/Game.class
/HealPotion.class
/Inventaire.class
/Item.class
/Level.class
/Main.class
/Monstre.class
/Monstre1.class
/Monstre2.class
/Personnage.class
/Potion.class
/Tir.class
/Épée.class
